body{
  background-color: #2b2b2b;
  color: #fff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container-btn1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}
.parag1{
  transition: 2s;
  background-color: none;
}
.parag1:hover{
  color: rgb(149, 224, 149);
  font-weight: bold;
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 12rem;
}
.btn1{
  background-color: indigo;
  color: white;
  border-radius: 5px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 7rem;
  padding-left: 7rem;
  margin-top: 7rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: solid 0.3rem rgb(149, 224, 149,0%);
  transition: 1.3s;
}
.btn1:hover{
  border: solid 0.3rem rgb(0, 129, 0);
  background-color: #ccc;
  color: indigo;
  font-size: 1.7rem;
}
.headerVite{
  background-color: #181818;
  color: rgb(149, 224, 149);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}
hr{
  border: solid 2px rgb(149, 224, 149);
}
.imgGlobal{
  margin-top: 7rem;
  width: 31rem;  
  border: solid 7px rgb(149, 224, 149, 0%);
  border-radius: 5px;
}
.imgGlobal:hover{
  border: solid 7px rgb(149, 224, 149);
}
.texto1Img1{
  text-transform: uppercase;
  font-family: 'Finger Paint';
}